$main-font: Arial;
$light-clr: #f4f4f4;
$primary-clr: #95C540;
$accent-clr: #ff9100;

// margin

$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    .m-#{$space} {
			margin: #{$space}rem;
    }
    .my-#{$space} {
			margin: #{$space}rem 0;
    }

		.p-#{$space} {
			padding: #{$space}rem;
    }
    .py-#{$space} {
			padding: #{$space}rem 0;
    }

}